/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1f1f2a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Images/ImagesLibrary.jpg);
}

.toAdd {
    background-color: #19242a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    background-image: url(Images/books.webp);
}

header h1 {
    color: #ece7e7;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #e9d9d9;
}

input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #c0aaaa;
    border-radius: 4px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#bookList {
    margin-top: 20px;
    font-size: 14px;
    color: #db1212;
    text-align: left;
}
